/* styles.css */
body {
    font-family: 'Arial', sans-serif;
    background: url('https://www.wallpapertip.com/wmimgs/9-97895_movies-wallpapers-hd.jpg') no-repeat center center fixed;
    background-size: cover;
    color: #fff;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1200px;
    margin: 50px auto;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.8);
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
    border-radius: 10px;
    text-align: center;
}

h1 {
    font-size: 2.5em;
    margin-bottom: 20px;
    color: #e50914;
}

form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 30px;
}

label {
    margin-bottom: 10px;
    font-size: 1.2em;
}

input, button {
    padding: 10px;
    margin-bottom: 20px;
    width: 80%;
    max-width: 400px;
    border: 1px solid #333;
    border-radius: 5px;
    font-size: 1em;
}

button {
    background-color: #e50914;
    color: white;
    border: none;
    cursor: pointer;
    font-weight: bold;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #f40612;
}

.recommendations {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.movie {
    background-color: #333;
    margin: 15px;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    flex: 1 0 21%;
    max-width: 21%;
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: transform 0.3s;
}

.movie img {
    max-width: 100%;
    height: auto;
    border-radius: 5px;
    margin-bottom: 15px;
}

.movie h3 {
    font-size: 1.1em;
    margin: 10px 0;
    color: #e50914;
}

.movie p {
    font-size: 0.9em;
    margin: 5px 0;
}

.movie:hover {
    transform: scale(1.05);
}
